@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
    font-family: 'Oswald', sans-serif;
    text-align:center;
    font-size:28px;
    line-height:1.5;
    font-weight:bold;
    background-image: url(../images/background.gif);
    background-repeat:no-repeat;
    background-size:1000px; 
    background-color: black;
    margin-top: 50px;
    background-position:top;
    color: white;
}

label {
    color:white;
    margin-bottom:20px;
}

button {
    width:300px;
}

#city-input {
    width:300px;
    margin:0 auto;
    text-align:center;
}

#weatherForm {
    margin-top: 280px;
    text-shadow: 3px 3px black;
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

#weatherStuff {
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:210px;
    color:white; 
    text-shadow: 3px 3px black;
}

.footer {
    color: white;
    padding: 10px;
    font-size: 14px;
    opacity: 0.5;
}